/* http://paletton.com/#uid=63G0u0k5EIQ0xZ52yS-9LxheZrd (adj. 3, top-left) */

html,
body {
	padding: 0;
	margin: 0;
}

html {
	font-family: Verdana, Geneva, sans-serif;

	/* Background image for title page */
	background: url(../images/moss-1024.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media screen and (min-width: 1024px) {
    html {
        background: url(../images/moss-1920.jpg) no-repeat center center fixed; 
    }
}

@media screen and (min-width: 1920px) {
    html {
        background: url(../images/moss-2880.jpg) no-repeat center center fixed; 
    }
}

@media screen and (min-width: 2880px) {
    html {
        background: url(../images/moss-3600.jpg) no-repeat center center fixed; 
    }
}

@media screen and (min-width: 3600px) {
    html {
        background: url(../images/moss.jpg) no-repeat center center fixed; 
    }
}

#menu {
	font-family: 'Ek Mukta', sans-serif;
	display: inline;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #000000;
	opacity: 0.6;
	padding-top: 0.2%;
	padding-bottom: 1%;
	height: 4%;
	z-index: 100;
}

@media all and (max-width: 600px) {
	#menu {
		padding-bottom: 4% !important;
	}
}

.menu-item {
	padding: 1%;
	height: 4%;
	font-size: 1.5em;
	vertical-align: middle;
	z-index: 101;
}

.menu-item a {
	text-decoration: none;
}

.menu-item a:hover {
	text-decoration: underline;
}

span#menu-home,
span#menu-home a {
	color: #ADBACE;
}

span#menu-me,
span#menu-me a {
	color: #7C8FAC;
}

span#menu-portfolio,
span#menu-portfolio a {
	color: #D8DEE8;
}

span#menu-contact,
span#menu-contact a {
	color: #526A8F;
}

.page {
	min-height: 100%;
	max-width: 100%;
	overflow: hidden;
	padding: 1%;
	padding-top: 5%;
}

.page#home {
	padding-left: 0.5%;
	padding-top: 0%;
	padding-bottom: 0%;
}

.page#me {
	background-color: #7C8FAC;
}

.page#portfolio {
	background-color: #D8DEE8;
}

.page#contact {
	background-color: #526A8F;
}

#name {
	font-family: 'Ek Mukta', sans-serif;
	line-height: 80%;
	position: absolute;
	bottom: 0;
	font-size: 6em;
}

h1 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 3em;
	order: 0;
}

h2 {
	text-decoration: underline;
}

p a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.lang {
	font-family: Courier, monospace;
}

.addr {
	font-weight: bold;
}

#map {
	width: 500px;
	height: 400px;
}

.youtube {
	position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.youtube iframe,
.youtube embed,
.youtube object {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}

.column-wrapper {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div,
.flexbox-container > p {
	width: 50%;
	padding: 1em;
}

.flexbox-container > div:first-child,
.flexbox-container > p:first-child {
	margin-right: 2em;
}

.column-1 {
	margin-right: 1em;
}

.column-2 {
	margin-left: 1em;
}

@media print {
    .page {
    	page-break-after: always;
    }
}
