/* http://paletton.com/#uid=63G0u0k5EIQ0xZ52yS-9LxheZrd (adj. 3, top-left) */

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
  height: 100vh;
	background-color: #9AA9A1;
	overflow-x: hidden;
}

html {
	font-family: Verdana, Geneva, sans-serif;
}

.page {
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
}

.page#content {
	background-color: #9AA9A1;
	text-align: center;
}

div#about, div#work {
	padding: 30px 5vw 10px 5vw;
}

div#title {
	padding: 10px 10vw 20px 10vw;
}

div#contact {
	padding: 30px 2vw 10px 2vw;
}

div#work {
	background-color: #C2C2C4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

a {
	text-decoration: none;
	color: inherit;
}

.slideout {
	background-color: #E4E4E6;
}

img.circular {
	border-radius: 50%;
	margin-bottom: 20px;
}

#about h1, #about h2, #about h3,
#title h1, #title h2, #title h3 {
	background-color: rgba(255,255,255,0.3);
	margin-top: 10px;
	padding: 5px 15px;
	display: inline-block;
}

#title h1:hover {
	background-color: rgba(255,255,255,0.7);
	transition: background .2s ease-in-out;
}

h1 {
	font-weight: normal;
	font-family: 'Ek Mukta', sans-serif;
	font-size: 50px;
	line-height: 50px;
	order: 0;
	margin: 0;
}

h2 {
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
	line-height: 12px;
	margin: 0 0 20px;
}

p a {
	cursor: pointer;
	text-decoration: none;
	color: black;
	border-bottom: 1px dotted black;
}

.date {
	font-style: italic;
	margin: 0;
}

.lang {
	font-family: Courier, monospace;
}

.project, .block, .img {
	width: 80vw;
	min-width: 80vw;
	background-color: rgba(255,255,255,0.3);
	margin: 10px;
	padding: 10px;
}

.block ul {
	text-align: left;
}

.block ul li {
	margin-bottom: 5px;
}

.block ul li a {
	border-bottom: 1px dotted black;
}

#contact h1 {
	margin-bottom: 20px;
}

.contact-method-wrapper {
	margin: 0 auto;
}

.contact-method {
	display: inline-block;
	background-color: rgba(255,255,255,0.3);
	margin-top: 10px;
	padding: 5px 15px;
}

.contact-method:hover {
	background-color: rgba(255,255,255,0.7);
	transition: background .2s ease-in-out;
}

.photo {
	width: 180px;
}

@media screen and (min-width: 900px) {
	.photo {
		width: 250px;
	}
	div#about, div#contact {
		padding: 30px 20vw 10px 20vw;
	}
	div#work {
		padding: 30px 5vw 10px 5vw;
		align-items: flex-start;
	}
	.project, .block, .img {
		width: 25vw;
		min-width: 250px;
	}
}

@media print {
    .page {
    	page-break-after: always;
    }
}
